<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjm.mapper.AppointmentOrderMapper">

    <select id="listByPId" resultType="com.hjm.pojo.VO.RegistrationVO">
        SELECT
            a.order_no AS orderNo,
            a.schedule_id AS scheduleId,
            a.patient_id AS patientId,
            a.doctor_id AS doctorId,
            a.department_id AS departmentId,
            a.status,
            a.create_time AS createTime,
            a.update_time AS updateTime,
            a.appointment_date AS appointmentDate,
            a.visit_number AS visitNumber,
            a.time_slot AS timeSlot,
            d.name AS doctorName,
            p.name AS patientName,
            dp.name AS departmentName,
            p.phone AS patientPhone,
            ds.schedule_type AS scheduleType,
            r.fee
        FROM appointment_order a
        LEFT JOIN user d ON a.doctor_id = d.id
        LEFT JOIN patient p ON a.patient_id = p.id
        LEFT JOIN pssrs.doctor_schedule ds ON a.schedule_id = ds.id
        LEFT JOIN registration_fee r ON ds.schedule_type = r.type
        join department dp on ds.department_id = dp.id
        WHERE a.patient_id = #{patientId}
        ORDER BY a.update_time DESC
    </select>
</mapper>
