<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjm.mapper.PatientMessageMapper">

    <select id="listByPatientId" resultType="com.hjm.pojo.VO.PatientMessageVO">
        SELECT m.* ,
               p.name AS patientName
        FROM message m left join patient p ON m.patient_id = p.id
        <where>
            AND m.is_deleted = 0
            <if test="userPatientId != null">
                AND m.user_patient_id = #{userPatientId}
            </if>
            <if test="status != null and status != ''">
                AND m.status = #{status}
            </if>
        </where>
        ORDER BY m.create_time DESC
        LIMIT #{offset}, #{size}
    </select>

    <select id="countUnreadByPatientId" resultType="java.lang.Long">
        SELECT COUNT(1) FROM message
        <where>
            AND is_deleted = 0
            AND status = '未读'
            <if test="userPatientId != null">
                AND user_patient_id = #{userPatientId}
            </if>
        </where>
    </select>

    <select id="countByPatientId" resultType="java.lang.Long">
        SELECT COUNT(1) FROM message
        <where>
            AND is_deleted = 0
            <if test="userPatientId != null">
                AND user_patient_id = #{userPatientId}
            </if>
            <if test="status != null and status != ''">
                AND status = #{status}
            </if>
        </where>
    </select>

    <update id="markRead">
        UPDATE message
        SET status = '已读', read_time = NOW()
        WHERE message_id = #{id}  AND is_deleted = 0
        <if test="userPatientId != null">
            AND user_patient_id = #{userPatientId}
        </if>
    </update>

</mapper>
