<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hjm.mapper.UserMapper">

    <!-- 查询医生列表（分页） -->
    <select id="listUsers" resultType="com.hjm.pojo.VO.DoctorVO">
        SELECT
        u.id,
        u.name,
        u.phone,
        u.gender,
        u.status,
        dp.title,
        dp.description,
        dp.image,
        d.name AS departmentName
        FROM user u
        LEFT JOIN doctor_profile dp ON dp.user_id = u.id
        LEFT JOIN department d ON d.id = dp.department_id
        JOIN user_role ure ON ure.user_id = u.id
        JOIN role r ON ure.role_id = r.id
        WHERE u.is_deleted = 0
        AND r.role_name = 'DOCTOR'

        <if test="name != null and name != ''">
            AND u.name LIKE CONCAT('%', #{name}, '%')
        </if>

        <if test="departmentId != null">
            AND dp.department_id = #{departmentId}
        </if>

        ORDER BY u.create_time DESC
    </select>



    <!-- 角色名列表（按用户ID） -->
    <select id="listRoleNamesByUserId" resultType="string">
        SELECT r.role_name
        FROM role r
                 INNER JOIN user_role ur ON ur.role_id = r.id
        WHERE ur.user_id = #{userId}
    </select>

    <!-- 带角色数组的用户映射 -->
    <resultMap id="UserWithRolesMap" type="com.hjm.pojo.VO.AdminVO">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="phone" column="phone"/>
        <result property="status" column="status"/>
        <!-- roles 为字符串数组：List<String> -->
        <collection property="roles"
                    ofType="string"
                    column="id"
                    select="listRoleNamesByUserId"/>
    </resultMap>

    <!-- 列表查询：用户+角色数组，且用户必须包含 ADMIN 角色 -->
    <select id="listAdmins" resultMap="UserWithRolesMap">
        SELECT
        u.id,
        u.name,
        u.phone,
        u.gender,
        u.status
        FROM user u
        WHERE u.is_deleted = 0
        AND EXISTS (
        SELECT 1
        FROM user_role ure
        INNER JOIN role r ON ure.role_id = r.id
        WHERE ure.user_id = u.id
        AND r.role_name = 'ADMIN'
        )
        <if test="name != null and name != ''">
            AND u.name LIKE CONCAT('%', #{name}, '%')
        </if>
        <if test="status != null">
            AND u.status = #{status}
        </if>
        ORDER BY u.create_time DESC
    </select>
    <select id="getProfile" resultType="com.hjm.pojo.VO.UserProfileVO">
        select
            u.age,
            u.gender as sex,
            u.phone,
            u.name,
            u.username
             from user u where id = #{userId}
    </select>
</mapper>
